aiosmtpd==1.4.4
atpublic==6.0.1
attrs==25.3.0
dnspython==2.7.0
email-validator==2.0.0
idna==3.10
joblib==1.5.1
markdown-it-py==3.0.0
mdurl==0.1.2
narwhals==1.47.1
numpy==2.3.1
packaging==25.0
pandas==2.3.1
patsy==1.0.1
plotly==6.2.0
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2025.2
rich==14.0.0
scikit-learn==1.7.1
scipy==1.16.0
six==1.17.0
statsmodels==0.14.5
threadpoolctl==3.6.0
tzdata==2025.2
